<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55780821656-5h8lb5uu4kr1815f4ml5mh3htije4to0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55780821656-5h8lb5uu4kr1815f4ml5mh3htije4to0</string>
	<key>API_KEY</key>
	<string>AIzaSyCc2fIAspVF2CjOsC5zD8RH01zFZqqdBN0</string>
	<key>GCM_SENDER_ID</key>
	<string>55780821656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.linkyoutask.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>linkyoutask</string>
	<key>STORAGE_BUCKET</key>
	<string>linkyoutask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55780821656:ios:b733fb4e36c01bd76adeed</string>
</dict>
</plist>